body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 60px;
}

h2 {
    font-weight: 600;
    font-size: 40px;
}

p {
    font-size: 19px;
}

body {
    background-color: rgb(240, 237, 237);
}

.page {
    width: 1200px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.title-container {
	text-align: center;
  }

.vis-container {
    width: 100%;
}

.centered-vis {
	margin: 0 auto;
	text-align: center;
  }
  

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 20px;
}

.small-font {
    font-size: 14px;
}